*target*
*.jar
*.war
*.ear
*.class
*.log*
hs_err_pid*
doc/

# eclipse specific git ignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

!lib/**/*.jar
!tools/**/bin
/synlog.tcl
/docs/
