*target*
*.jar
*.war
*.ear
*.class
*.log*
hs_err_pid*
doc/

# eclipse specific git ignore
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

!lib/**/*.jar
!tools/**/bin
/synlog.tcl
/docs/
/build/
/.gradle/
/src/gen/Lucid.interp
/src/gen/Lucid.tokens
/src/gen/LucidLexer.interp
/src/gen/LucidLexer.tokens
/src/com/alchitry/labs/parsers/lucidv2/grammar/Lucid.interp
/src/com/alchitry/labs/parsers/lucidv2/grammar/Lucid.tokens
/src/com/alchitry/labs/parsers/lucidv2/grammar/LucidLexer.interp
/src/com/alchitry/labs/parsers/lucidv2/grammar/LucidLexer.tokens
